# Core Django/DRF Framework
Django
djangorestframework
djangorestframework-simplejwt

# Database Connector
psycopg2-binary

# Environment Variables
python-dotenv

# HTTP Requests & Web Scraping
requests
beautifulsoup4
lxml

# AI & Machine Learning
torch
transformers
sentencepiece
